
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* font-family: 'SF Pro Display' ,'Inter' ,sans-serif; */
  font-family: 'Inter' ,'SF Pro Display', sans-serif;
  outline: none;
}

input{
  font-size: 14px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

.shadow-custom {
  box-shadow: 0px 0px 15px 0px #00000028;
}

.gridRespo {
  /* max-width: 1300px; */
  width: 100%;
  margin: auto;
  display: grid;
  gap:15px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

@media only screen and (max-width: 800px) {
  .gridRespo {
    /* max-width: 1000px; */
    width: 100%;
    margin: auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  }
}


.custom-scrollbar{
  overscroll-behavior: contain;
}

.custom-scrollbar::-webkit-scrollbar {
width: 16px;
height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
background-color: #88888881;
border: 5px solid white;
border-radius: 30px;
cursor: default;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
background-color: #3a3a3a81;
}

.custom-scrollbar::-webkit-scrollbar-track {
background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-corner {
background-color: transparent;
}
